td{
   border:1px, solid black;
   border-bottom: 20px;;
   width:20%;
   padding:20px;
   border-radius:20px;
   margin:20px;
   font-family: Conic sans meshpatch;
   color: darkmagenta;
   box-shadow: 0px 0px 20px red;
   background-color: aqua;
   
}